@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary: #9a3412;
  --secondary: #fdba74;
  --light: #ffedd5;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

main .container {
  background-color: var(--secondary);
  width: 50vw;
  min-width: 420px;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
}

main .container p {
  margin: auto;
}

main .container .brand-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

main .container .brand-desc {
  width: 80%;
}

main .input-container {
  width: 60%;
  min-width: 320px;
  margin: 2rem auto;
}

.input-container .input-fields {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

main .input-fields .title {
  width: 45%;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
}

main .input-fields .inputbox {
  width: 55%;
}

main .input-fields .inputbox:focus-visible {
  outline: none;
  border: 2px solid var(--primary);
}

main .container .error-msg {
  width: 85%;
  margin: 20px auto;
  background-color: var(--light);
  border-radius: 2px;
  border: 1px solid var(--primary);
  color: var(--primary);
  display: none;
}

main .btn-calculate {
  font-size: 17px;
  font-weight: 600;
  width: 105px;
  padding: 5px;
  margin: auto;
  margin-top: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid black;
}

main .output-container {
  display: none;
}

main table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

main table caption {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid black;
  border-bottom: none;
}

main th {
  /* background-color: #9a3412; */
  color: var(--primary);
}

main table,
th,
td {
  border: 1px solid black;
}
